apiVersion: v1
kind: Service
metadata:
  name: {{ include "cubeapm.fullname" . }}
  labels:
    {{- include "cubeapm.labels" . | nindent 4 }}
  {{- if .Values.service.annotations }}
  annotations:
    {{- toYaml .Values.service.annotations | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.internalPort }}
      targetPort: http-internal
      protocol: TCP
      name: http-internal
    - port: {{ .Values.service.privatePort }}
      targetPort: http-private
      protocol: TCP
      name: http-private
    {{- if not .Values.collector.otlp.grpc.disable }}
    - port: {{ .Values.collector.otlp.grpc.port }}
      targetPort: otlp-grpc
      protocol: TCP
      name: otlp-grpc
    {{- end }}
    {{- if not .Values.collector.otlp.http.disable }}
    - port: {{ .Values.collector.otlp.http.port }}
      targetPort: otlp-http
      protocol: TCP
      name: otlp-http
    {{- end }}
    {{- if not .Values.collector.nr8t.disable }}
    - port: {{ .Values.collector.nr8t.port }}
      targetPort: nr8t
      protocol: TCP
      name: nr8t
    {{- end }}
    {{- if .Values.service.admin.enabled }}
    - port: {{ .Values.service.admin.port }}
      targetPort: http-admin
      protocol: TCP
      name: http-admin
    {{- end }}
  selector:
    {{- include "cubeapm.selectorLabels" . | nindent 4 }}
